* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  height: auto;
  background-image: url(../images/3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: grid;
  gap: 10px;
  grid-template-areas:
    "header header header header"
    "portada portada portada portada"
    "contenido contenido contenido sidebar"
    "videos contentCard contentCard contentCard"
    "footer footer footer footer";
}

.header {
  justify-content: space-evenly;
  margin: 5px 5px 5px 5px;
  background-color: white;
  color: black;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  grid-area: header;
}
.logo {
  display: flex;
  width: 50%;
  align-items: flex-start;
}

.portada {
  max-width: 100vw;
  height: 100vh;
  background-image: url(../images/1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  grid-area: portada;
}
.contenido {
  width: 100%;
  height: 100vh;
  grid-area: contenido;
}

.sidebar {
  background-color: blanchedalmond;
  width: 100%;
  min-width: 20vw;
  height: 100vh;
  grid-area: sidebar;
}

.videos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-area: videos;
  height: 100vh;
}

.contentCard {
  grid-area: contentCard;
}

.footer {
  background-color: rgb(37, 35, 32);
  text-align: center;
  height: 60vh;
  grid-area: footer;
}

@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "header header header"
      "portada portada portada"
      "contenido contenido contenido"
      "sidebar sidebar sidebar"
      "videos videos videos"
      "contentCard contentCard contentCard"
      "footer footer footer";
  }
}
