.container {
  width: 100%;
  height: 100%;
  background-image: url(../images/3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.header {
  background-color: chartreuse;
  grid-column: 1/5;
}

.portada {
  width: 100%;
  height: 100vh;
  grid-column: span 4;
  background-image: url(../images/1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.contenido {
  background-color: oldlace;
  grid-column: 1/4;
  height: 100vh;
}

.sidebar {
  background-color: orange;
  height: 100vh;
}
.destacado {
  background-color: slategray;
  grid-column: 1/5;
  justify-self: center;
}

.videos {
  background-color: rgb(34, 33, 33);
  grid-column: span 1;
  grid-row: span 10;
}

.contentCard {
  grid-column: span 3;
}

.articulo {
  background-color: cadetblue;
  grid-column: span 4;
  justify-self: center;
}

.footer {
  background-color: rgb(51, 48, 48);
  grid-column: span 4;
  text-align: center;
  height: 60vh;
}

@media (max-width: 768px) {
  .contenido {
    grid-column: span 4;
  }
  .sidebar {
    display: none;
  }
  .videos {
    grid-column: span 4;
    grid-row: 1fr;
    height: 100vh;
  }
  .contentCard {
    grid-auto-flow: dense;
    grid-column: span 4;
    grid-row: 1fr;
    height: 100vh;
  }
}
