.container {
  z-index: 1;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-areas:
    "header header header"
    "portada portada portada"
    "contenido contenido contenido"
    "fondo fondo fondo"
    "videos videos videos"
    "contentCard contentCard contentCard"
    "footer footer footer";
}

.header {
  width: 100%;
  height: auto;
  grid-area: header;
}

.portada {
  width: 100%;
  height: 100vh;
  background-image: url(../images/1.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  grid-area: portada;
}
.contenido {
  width: 80%;
  height: auto;
  grid-area: contenido;
  margin-top: 10%;
}

.fondo {
  background-image: url(../images/3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  grid-area: fondo;
}

.opacidad {
  border: solid;
  background-color: rgba(0, 0, 0, 0.65);
}

.sidebar > img {
  width: 100%;
  height: 100%;
}

.videos {
  margin-top: 10%;
  width: 100%;
  height: 75vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-area: videos;
  max-height: 100vh;
  box-shadow: 5px 5px 5px white;
}
.contentCard {
  margin-top: 10%;
  display: grid;
  width: 100%;
  height: auto;
  grid-area: contentCard;
}

.footer {
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  height: 25vh;
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footerDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 5px;
}
.footerDiv > a {
  text-decoration: none;
  color: white;
  margin: 5px;
}

@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "header header header "
      "portada portada portada "
      "contenido contenido contenido"
      "sidebar sidebar sidebar "
      "videos videos videos "
      "contentCard contentCard contentCard"
      "footer footer footer ";
    font-size: 14px;
  }
  .videos {
    flex-direction: column;
    height: 100vh;
  }
  .contentCard {
    width: 100vw;
  }
  .footer {
    width: 100vw;
    height: auto;
    font-size: 14px;
    grid-template-columns: 1fr;
  }
}
