.container {
  z-index: -1;
  width: 100%;
  height: 100%;
}
.containerCenter {
  position: relative;
  width: 100%;
  height: auto;
}

.barra {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  top: 80%;
  height: auto;
}
.img {
  width: 100%;
  height: 100%;
}

.titulo {
  color: white;
  margin-bottom: 10px;
}
